body nav {
    font-size: auto;
    /*font-weight: bold;*/
}

body {
    background-color: #ee5522;
    background: white url("images/cool-background.png") no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

body .navbar-light .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.9)!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9)!important;
}