<!--Page des critiques-->
<!doctype html>
{% extends "awebapp/baselog.html"%}
{% load static %}
{% block addcss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'awebapp/belognav.css' %}">
    <!-- mon css fonctionne pas... -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>{% block title %}LITReview critiques{% endblock %}</title>
  </head>
<div style="border: 2px solid white; margin: 20px">
    <h4 style="text-align: center">Créer une critique</h4>
    <form name="form_review" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div style="border: 2px solid white; margin: 20px">
            <div class="col-md-2 col-sm-2">
                <h5>Livre / Artcile</h5>
          <label for="title"><h5>Titre</h5></label>
          <input name="title" value="{{ form_ticket.title }}" type="title" class="form-control" id="title">
        </div>
        <div class="form-group">
          <label for="description"><h5>Description</h5></label>
          <textarea name="description" class="form-control" value={{ form_ticket.description }} id="description"></textarea>
        </div>
        <div class="custom-file">
            <input name="image" value="{{ form_ticket.image }}" type="file" class="custom-file-input" id="image">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
        <div style="border: 2px solid white; margin: 20px">
            <div class="form-group">
            <div class="col-md-2 col-sm-2">
                <h5>Critique</h5>
          <label for="headline"><h5>Titre</h5></label>
          <input name="headline" type="title" class="form-control" id="headline">
        </div>
        <div id="rating" class="form-check form-check-inline">
            <div class="col-md-2 col-sm-2">
              <h5>Note</h5>
            </div>
            <input value="1" class="form-check-input" type="radio" name="rating" id="inlineRadio1">
            <label class="form-check-label" for="inlineRadio1"> 1*</label>
          </div>
          <div class="form-check form-check-inline">
            <input value="2" class="form-check-input" type="radio" name="rating" id="inlineRadio2" >
            <label class="form-check-label" for="inlineRadio2"> 2*</label>
          </div>
          <div class="form-check form-check-inline">
            <input value="3" class="form-check-input" type="radio" name="rating" id="inlineRadio3">
            <label class="form-check-label" for="inlineRadio3"> 3*</label>
          </div>
          <div class="form-check form-check-inline">
            <input value="4" class="form-check-input" type="radio" name="rating" id="inlineRadio4">
            <label class="form-check-label" for="inlineRadio4"> 4*</label>
          </div>
          <div class="form-check form-check-inline">
            <input value="5" class="form-check-input" type="radio" name="rating" id="inlineRadio5">
            <label class="form-check-label" for="inlineRadio5"> 5*</label>
          </div>
          <div class="form-group">
            <label for="body" id="body"><h5>Commentaire</h5></label>
            <textarea name="body" class="form-control" id="body"></textarea>
          </div>
          {% csrf_token %}
        <button class="btn btn-primary">Envoyer</button>
      </form>
</div>
{% endblock %}